.btn:hover {
  color: blue;
}

input:focus {
  background-color: yellow;
}

input:required {
  background-color: red;
}

p::first-line {
  font-size: 120%;
  font-weight: bold;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px red;
}
